* {
    padding: 0%;
    margin: 0px;
    font-family: sans-serif;
}
body {
    width: 100%;
    height: 2000px;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgb(41, 13, 221, 0.8);
    border-bottom: 2px solid hsl(0, 0%, 0%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
.navbar h3 {
    font-size: 1.8rem;
    color: white;
    font-family: "Neuton", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}
.navbar h3 span {
    color: hsl(146, 100%, 53%);
    font-family: "Neuton", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}
.navbar .navbar-nav a {
    color: aliceblue;
    text-decoration: none;
    font-size: 1rem;
    display: inline-block;
    margin: 0 1rem;
}
.navbar .navbar-nav a:hover {
    color: aquamarine;
    animation: 200ms;
}
.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid #fff;
    transform: scaleX(0);
    transition: 200ms linear;
}
.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}
.navbar .navbar-extra {
    display: flex;
}
.navbar .navbar-extra a {
    color: #fff;
    font-size: 1.8rem;
    margin: 0 0.5rem;
}
.navbar .navbar-extra a:hover {
    color: rgb(65, 253, 190);
}
#menu {
    display: none;
}
.navbar .logo img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    padding: 0.2rem;
    
}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.navbar .logo::after , .navbar .logo::before {
    content: '';
    width: 3rem;
    height: 3rem;
    background-image: conic-gradient(from var(--angle), transparent 10%, rgb(79, 196, 124));
    position: absolute;
    translate: calc(-100%);
    z-index: -1;
    border-radius: 50%;
    align-items: center;
    padding: 0.2rem;
    animation: 4s spin linear infinite;
    
}
.navbar .logo::before {
    filter: blur(2rem);
    opacity: 0.5;
    translate: calc(0%);
}
@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

/* Hero Section */
.hero {
    min-height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(15, 120, 240);
}
.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #d4b81acc 3%, rgba(134, 131, 172, 0.8) ;
}
.hero .content {
    display: block;
    justify-content: center;
    align-items: center;
}
.hero .content .logo img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}
.hero .content .logo h3 {
    display: flex;
    justify-content: center;
    font-size: 2.3rem;
    color: #fff;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
}
.hero .content h3 span {
    color: rgb(255, 255, 255);
    margin-left: 2%;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
}
/* MediaQueries */

/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 90%;
    }
}

/* Tablet */

@media (max-width: 800px) {
    html {
        font-size: 75%;
    }
    #menu {
        display: inline-block;
    }
    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #94ebeb;
        width: 30rem;
        height: 100vh;
        transition: 200ms;
    }
    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }
    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }
    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2);
    }
}


/* Mobile Phone */

@media (max-width: 450px) {
    html {
        font-size: 65%;
    }
}
